<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.outlay">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Material.Custom">
        <activity
            android:name=".view.activity.MainActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".view.activity.SingleFragmentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0" />
    </application>

</manifest>
